@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Montserrat&display=swap');

* {
    margin: 0; 
    padding: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #B1CC74;
}
body h1, body h2, body li {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

body p {
    line-height: 35px;
}
/* Header Styles */
header {
    background-color: #B1CC74;
    min-height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex: 1;
    border-bottom: 3px solid #545F66;
}
header h1 {
    padding: 0 20px 20px 20px;
}

#title-logo {
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}
/* Nav Styles*/
nav {
    background-color: #B1CC74;
    position: absolute;
    width: 100%;
    left: 0;
    top: 270px;
    display: none;
    flex: 2;
    border-bottom: 3px solid #545F66;

}
#nav-dropdown-toggle:checked~nav {
    display: block;
}
#nav-dropdown-toggle {
    display: none;
}
.nav-dropdown-toggle-label {
    font-size: 2rem;
    padding: 15px;
}
nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;
}
nav li {
    margin-bottom: 20px;
}
li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
nav a {
    margin-bottom: 50px;
}
nav a:hover{
    border-bottom: 1px solid #ffffff;
}
.active {
    background-color: #ffffff;
    color: #B1CC74;
    border-radius: 5px;
    padding: 10px;
}
/* Main Body Styles */
main {
    height: 100vh;
    flex: 3;
}

.main-content {
    background-color: #E8FCC2;
    padding: 50px;
}

section, aside {
    margin-bottom: 50px;
}
section h2, aside h2 {
    background-color: #545F66;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid #D0F4EA;
}
.newsletter {
    text-align: center;
}
section p, aside p {
    background-color: #829399;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Footer Styles */
footer {
    background-color: #B1CC74;
    margin: 40px 0;
    padding: 25px;
    flex: 4;
}
/* Responsive Layout for Tablets */
@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: fit-content;
        padding-right: 20px;
        top: 0;        
        border-bottom: 3px solid #B1CC74;
    }
    .navigation-bar {
        display: flex;
    }

    .navigation-bar > li {
        padding: 1rem;
        text-align: center;
    }

    nav a {
        background-color: #B1CC74;
        color: #ffffff;
        padding: 5px;
        margin: 10px;
        box-shadow: none;
    }

    .nav-dropdown-toggle-label {
        display: none;
    }
}
/* Responsive Layout for Laptops */
@media screen and (min-width: 992px) {
    nav a {
        margin: 0;
        padding: 0;
    }
}

/* Responsive Layout for Desktops */
@media screen and (min-width: 1200px) {
    
}